.logodesign{
    position: absolute;
    color: aliceblue; font-weight: bold; padding: 15px; background-color: green;    
    width: 350px;
    height: 71px;
} 
 .logodesign img{
    position: absolute;
    bottom: 14px;
    height: auto;
    top: 2.5px;
}
.sidebar-brand-icon{
    position: relative;
    width: 350px;
    height: 71px;
}
 #change{
    height: auto; width: 300px;
}
@media screen and (max-width:320px) {
    #change{
        height: auto; width: 280px;
    }
}